@{ ViewData["Title"] = "Home Page"; }

<div asp-prerender-module="ClientApp/dist/main-server" asp-prerender-data='new { counter = 5 }'>Loading...</div>


@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
